footer {
  margin-top: 64px;
  height: 441px;
  background: #010101 url('../../assets/images/taz-pattern.png') no-repeat;
  background-position: center;
  position: relative;
  h2,
  p,
  a {
    color: #fff;
  }
  padding: 24px;
  .footer-content {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    flex-direction: column;
    a {
      transition: $transitionDuration;
      &:hover {
        text-decoration: underline;
        transition: $transitionDuration;
      }
    }
    h2 {
      margin-bottom: 16px;
      span {
        color: $primaryColor;
      }
    }
  }
  // article {
  //   width: calc(33.33% - 24px);
  // }
  .interference{
    display: flex;
    gap: 48px;
    width: 60%;
  }
  .contact--info {
    .external--links {
      margin-top: 24px;
    }
    li {
      &:nth-child(2) {
        margin: 16px 0;
      }
    }
  }
  .social--links {
    ul {
      display: flex;
      gap: 16px;
      // flex-flow: row wrap;
    }
    address {
      color: #fff;
      font-style: normal;
      margin-top: 16px;
    }
  }
  

  .pattern--container{
    img{
      width: min-content;

    }
  }
}

@media (max-width: 750px) {
  footer {
    .author--details {
      .author-details_content {
        flex-flow: row wrap;
      }
      .img-container {
        width: 80%;
      }
      .text-description {
        width: 80%;
        margin-top: 24px;
      }
    }
  }
}

@media (max-width: 500px) {
  footer {
    .footer-content {
      flex-direction: column;
    }
    .author--details {
      .author-details_content {
        flex-flow: row wrap;
      }
      .img-container {
        width: 100%;
      }
      .text-description {
        width: 100%;
        margin-top: 32px;
      }
    }

    .bottom--footer {
      .bottom-wrapper {
        display: flex;
        flex-direction: column-reverse;
      }
    }
  }
}
